.navLink {
    color: white;
    text-decoration: none;
}
.navMenuLink {
    color: black;
    text-decoration: none;
}
.activeNavLink {
    color: darkorange;
}
.navBrand {
    color: white;
    text-decoration: none;
}